SetFactory("OpenCASCADE");
lc = __LC__;
Box(1) = {0, 0, 0, 1, 1, 1};
Periodic Surface {4} = {3} Translate {0, 1, 0};
Periodic Surface {6} = {5} Translate {0, 0, 1};
Physical Volume("internal") = {1};
Physical Surface("walls") = {1, 2};
Physical Surface("y0") = {3};
Physical Surface("y1") = {4};
Physical Surface("z0") = {5};
Physical Surface("z1") = {6};
Mesh.MeshSizeMin = lc;
Mesh.MeshSizeMax = lc;
Mesh.Algorithm3D = 1;
Mesh.Optimize = 1;
Mesh.MshFileVersion = 2.2;
