# Build cardiacFoam against prebuilt solids4foam Docker images
# Uses solids4foam v2.3 images to avoid rebuilding dependencies in CI

name: Build and test

on:
  workflow_dispatch:
  pull_request:

jobs:
  build-and-test:
    name: Build on ${{ matrix.container-image.name }}
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        container-image:
          # --------------------------------------------------
          # solids4foam v2.3 images (OpenFOAM.com)
          # --------------------------------------------------
          - name: "solids4foam-v2.3-OpenFOAM-v2312"
            image: "solids4foam/solids4foam:v2.3-openfoam-v2312-latest"
            source: "/lib/openfoam/openfoam2312/etc/bashrc"
            solids4foam_dir: "/lib/solids4foam"
            buildflags: "-j"

          - name: "solids4foam-v2.3-OpenFOAM-v2412"
            image: "solids4foam/solids4foam:v2.3-openfoam-v2412-latest"
            source: "/lib/openfoam/openfoam2412/etc/bashrc"
            solids4foam_dir: "/lib/solids4foam"
            buildflags: "-j"

          - name: "solids4foam-v2.3-OpenFOAM-v2512"
            image: "solids4foam/solids4foam:v2.3-openfoam-v2512-latest"
            source: "/lib/openfoam/openfoam2512/etc/bashrc"
            solids4foam_dir: "/lib/solids4foam"
            buildflags: "-j"

    container:
      image: ${{ matrix.container-image.image }}
      options: --user 1001
      env:
        HOME: ${{ github.workspace }}

    steps:
      - name: Checkout cardiacFoam
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Build cardiacFoam
        shell: bash -l {0}
        run: |
          echo "Sourcing OpenFOAM environment"
          source ${{ matrix.container-image.source }}

          echo "Using solids4foam from Docker image"
          export SOLIDS4FOAM_INST_DIR=${{ matrix.container-image.solids4foam_dir }}

          ./Allwmake ${{ matrix.container-image.buildflags }}

      - name: PETSc sanity check
        shell: bash -l {0}
        run: |
          source ${{ matrix.container-image.source }}
          echo "PETSC_DIR = $PETSC_DIR"
          test -d "$PETSC_DIR/include"
