# Build and test cardiacFoam using Docker containers
# Adapted from solids4foam actions
name: Build and test

on:
  workflow_dispatch:
  pull_request:

jobs:
  build-and-test:
    name: Build on ${{ matrix.container-image.name }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        container-image:
          # --------------------------------------------------
          # OpenFOAM.com + PETSc
          # --------------------------------------------------
          - name: "OpenFOAM-v2512-PETSc"
            image: "philippic/openfoam-v2512:ubuntu-22.04-petsc-no-openmp-system-blas"
            source: "/usr/lib/openfoam/openfoam2512/etc/bashrc"
            buildflags: "-j"

          - name: "OpenFOAM-v2412-PETSc"
            image: "philippic/openfoam-v2412:ubuntu-22.04-petsc-no-openmp-system-blas"
            source: "/usr/lib/openfoam/openfoam2412/etc/bashrc"
            buildflags: "-j"

          - name: "OpenFOAM-v2312-PETSc"
            image: "philippic/openfoam-v2312:ubuntu-22.04-petsc-no-openmp-system-blas"
            source: "/usr/lib/openfoam/openfoam2312/etc/bashrc"
            buildflags: "-j"

    container:
      image: ${{ matrix.container-image.image }}
      options: --user 1001
      env:
        HOME: ${{ github.workspace }}

    steps:
      - uses: actions/checkout@v4

      - name: Allwmake
        shell: bash -l {0}
        run: |
          source ${{ matrix.container-image.source }}
          export S4F_NO_FILE_FIXES=1; ./Allwmake ${{ matrix.container-image.buildflags }}

      - name: PETSc sanity check
        if: contains(matrix.container-image.name, 'PETSc')
        shell: bash -l {0}
        run: |
          source ${{ matrix.container-image.source }}
          echo "PETSC_DIR = $PETSC_DIR"
          test -d "$PETSC_DIR/include"
